%h3
  = @show_blacklist ? "Список пользователей  (черный список)" : "Список пользователей"
%table.table.table-strippe
  %thead.table-header-default
    %th{width: '250px'}
      Имя
    %th{width: '200px'}
      Телефон
    %th{width: '100px'}
      В чёрном списке
    %th{width: '350px'}
      Описание
    - if @show_blacklist
      %th{width: '350px'}
        Команды
  %tbody
    - @customers.each do |customer|
      %tr
        %td
          = link_to customer.name, edit_customer_path(customer)
        %td
          = customer.phone
        %td
          = customer.is_blacklist? ? 'Да' : 'Нет'
        %td
          = customer.description
        - if @show_blacklist
          %td
            = link_to 'Убрать из чёрного списка', customer_change_path(customer.id), method: 'post', remote: true, class: 'btn btn-link'
.row
.col-md-12
- if @show_blacklist
  = link_to 'К белому списку', customers_path, class: 'btn btn-default'
- else
  = link_to 'К чёрному списку', customers_path(is_blacklist: true), class: 'btn btn-default'
