.row.page-wrapper
  .col-md-12
    %h1
      = "Редактирование пользователя #{@customer.name}"
    = bootstrap_form_for [@customer] do |f|
      .row
        .col-md-12
          = f.text_field :name, label: "Фамилия, Имя"
          = f.text_field :phone, label: "Номер телефона"
          = f.text_area :description, label: "Описание"
          = f.check_box :is_blacklist, label: "Содержится в чёрном списке"
          - unless @customer.is_blacklist
            %h4
              = 'Занести в чёрный список по телефону:'
            .div.select_tag
              = select_tag 'customer[change_by_phone_id]', options_for_select(Customer.where('id != ? AND is_blacklist = ?', @customer.id, false).collect{|customer| [customer.phone, customer.id]}), {include_blank: 'Укажите номер телефона для занесения в чёрный список', class: 'form-control'}
      .row
        .col-md-12
          = f.submit 'Сохранить', class: 'btn btn-primary'
          = link_to 'Выйти', customers_path, class: 'btn btn-default'
